## All the different config that is supposed to be part of the project ,not secrets and stuff 
PORT=8080
ENVIRONMENT=development



LOG_LEVEL=info



READ_TIMEOUT=10
WRITE_TIMEOUT=10
IDLE_TIMEOUT=60
SHUTDOWN_TIMEOUT=15